@import "../variables";
@import "../mixins";
@import "../extends";

.cd-auto-hide-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s, background-color .5s, color .5s;

  &.is-hidden {
    transform: translateY(-100%);
  }
}

.nav {
  background: transparent;
}

.nav__row {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.nav-link {
  padding: 5px;
}

.nav__name {
  margin: 0 0 0 10px;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px silver,
              -1px 1px 1px silver;
  color: white;
  transition: text-shadow .5s;
}

.nav__logo-img {
  display: block;
  max-width: 100%;
  width: 50px;
  height: auto;
}

.nav__logo {
  @extend %flex-row-wrap;
  @extend %vertical-center;
}

.nav__logo-link-wrapper {
  @extend %flex-row-wrap;
  @extend %vertical-center;
  &:hover {
    text-decoration: none;
  }

  &:hover .nav__name  {
    text-shadow: 1px 1px white,
                  2px 2px blue;
  }
}

.nav__nested-list {
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
}

.nav__menu {
  @extend %flex-row-wrap;
  @extend %vertical-center;
  @extend %horizontal-center;
}

.nav__list {
  @extend %ul-list;
}

.nav__item {
  display: inline-block;
  margin-right: 10px;
}

.nav__system {
  @extend %flex-row-wrap;
  @extend %vertical-center;
  justify-content: flex-end;
}

.nav__system-list {
  @extend %ul-list;
}

.nav__system-list-item {
  display: inline-block;
  margin-right: 10px;
}

.nav__system-person {
  margin-left: 5px;
}

.nav__system-cart {
  font-size: 1.1rem;
}

