.sidebar {
    position: fixed;
    top: 54.38px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.dash__menu-list {
    margin-bottom: 20px;
}

.dash__main {
    height: calc(100vh - 54.38px);
    margin-top: 54.38px;
    background-color: #fff;
    transition: background-color .2s;
}

.dash__main_load {
    background-color: rgba(0,0,0,.3);
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__image {
    width: 150px;
    height: auto;
}

.dashboard__table-actions {
    text-align: center;
}

@media (max-width: 575.99px) {
    .sidebar {
        position: static;
    }

    .dash__menu-list {
        margin-bottom: 0;
    }
}